<div class="container">
    <br>
    <h2 align="center">Login</h2>
<mat-card>
    <mat-card-content>
        <br>  
        <div class="row">
           
            <div class="col-lg-6">
                <img class="img-fluid" height="100%" src="../../assets/login1.svg" alt="">
            </div>
            <div class="col-lg-6 card__section2">
                <div class="row">
                    <h3 align="center">Access</h3>
                    <div class="col-lg-4"><button matTooltip="Admin Login" routerLink="/adminLogin" mat-raised-button>ADMIN</button></div>
                    <div class="col-lg-4"><button matTooltip="HOD Login" routerLink="/hodLogin" mat-raised-button>HOD</button></div>
                    <div class="col-lg-4"><button matTooltip="Teacher Login" routerLink="/teacherLogin" mat-raised-button>TEACHER</button></div>
                </div>
            <!--s 6-->
            </div>
        </div><!--row-->
    </mat-card-content>
</mat-card>
</div>