<mat-toolbar color="primary">
    <div class="toolbar__section1"><h5>Teacher Dashboard</h5></div>
    <div class="toolbar__section2">
      <div class="row ">
        <div class="col-lg-4"><button (click)="announcement()" mat-button matTooltip="Announcement"><mat-icon>announcement</mat-icon></button></div>
          <div class="col-lg-4"><button mat-button matTooltip="Teacher"><mat-icon>account_circle</mat-icon>&nbsp;&nbsp;{{TEACHER_DATA.name}}</button></div>
          <div class="col-lg-4"><button matTooltip="Logout" mat-button (click)="logOut()" ><mat-icon>exit_to_app</mat-icon></button></div>
      </div>
    </div>
  </mat-toolbar>


  <div class="cont">
    <br>
    <mat-card>
        <mat-card-content>
            <div class="row">
                <div class="col-lg-4">
                    <br><br>
                    <h2 align="center">Control</h2>
                    <div class="cont__row__action">
                        <button matTooltip="Add mark" mat-raised-button routerLink="/teacher/addMark" color="warn"><mat-icon>add</mat-icon>&nbsp; Add Mark</button>
                        <br><br>
                        <button matTooltip="View mark" mat-raised-button routerLink="/teacher/viewMark"><mat-icon color="accent">remove_red_eye
                        </mat-icon>&nbsp; View Mark</button>
                        
                        <!--action-->
                    </div>
                </div>
                <div class="col-lg-8 card__section2">
                    <h2 align="center">Action</h2>
<router-outlet> </router-outlet>
                </div>
                <!--parent row-->
            </div>
        </mat-card-content>
    </mat-card>
</div>
