mat-toolbar{
    display: flex;
    font-size: 10px;
    justify-content: space-between;
    .toolbar__section2{
        display: flex;
        justify-content: space-evenly;
    }
}
.cont{
    width: 95%;
    margin: auto;
    &__row__action button{
        width: 100%;
        height: 43px;
    }
}

mat-card{
    min-height: 400px;

}
 