<mat-card>
    <mat-card-content>
        <h3>Add Couser</h3>
        <form  [formGroup]="courseForm" (ngSubmit)="addCourse()">

           <div class="row">
            <div class="col-lg-4">
                <mat-form-field appearance="outline">
                <mat-label>Course Name</mat-label>
                <input  formControlName="courseName"  required matInput type="text">
            </mat-form-field>
              </div>


              <div class="col-lg-4">
                <mat-form-field appearance="outline">
                <mat-label>No of Subject</mat-label>
                <input  formControlName="noOfSubject" (keyup)="noOfSubject($event)"  required matInput type="number">
            </mat-form-field>
              </div>


              <div class="col-lg-4">
                <mat-form-field appearance="outline">
                <mat-label>Department</mat-label>
                <input  formControlName="department"  required matInput type="text">
            </mat-form-field>
              </div>
            <!--row-->
           </div>
<div formArrayName="subjects">
<div class="row" *ngFor="let data of courseForm.controls.subjects['controls'];let i=index" [formGroupName]="i">


    <div class="col-lg-4">
        <mat-form-field appearance="outline">
        <mat-label>Subject</mat-label>
        <input   readonly value="{{i+1}}"  required matInput type="text">
    </mat-form-field>
      </div>

    <div class="col-lg-4">
        <mat-form-field appearance="outline">
        <mat-label>Subject</mat-label>
        <input  formControlName="subject"  required matInput type="text">
    </mat-form-field>
      </div>

      <div class="col-lg-4">
        <mat-form-field appearance="outline">
         <mat-label>Teacher In Charge </mat-label>
        <input matTooltip="make sure staff name having in department staff list"  formControlName="teacherIncharge"  required matInput type="text">
    </mat-form-field>
      </div>

<!--row-->
</div>
</div>
<button mat-raised-button>Add Course</button>
        </form>
    </mat-card-content>
</mat-card>